<div class="container">
  
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">WEB DE PRUEBA</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/jorge-escrich-laorden" class="nav-link " routerLinkActive="active">Jorge Escrich Laorden</a></li>
      </ul>
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/vicenteherrero" class="nav-link " routerLinkActive="active">VicenteHerrero</a></li>
        <li class="nav-item"><a routerLink="/AlvaroGarcia" class="nav-link " routerLinkActive="active">AlvaroGarcia</a></li>
        <li class="nav-item"><a routerLink="/alvarosanjose" class="nav-link " routerLinkActive="active">Alvaro San Jose</a></li>
        <li class="nav-item"><a routerLink="/VicenteAlc" class="nav-link " routerLinkActive="active">VAlacreu OK</a></li>
        <li class="nav-item"><a routerLink="/Alfonso" class="nav-link " routerLinkActive="active">Alfonso OK</a></li>
      </ul>
      <ul>
        <li><a routerLink="/marcos-gomez">Marcos Gomez</a></li>
      </ul>
      <ul>
        <li><a routerLink="/marcos-gomez">Marcos</a></li>
      </ul>
    </header>
  </div>