<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">WEB DE PRUEBA</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home" class="nav-link " routerLinkActive="active">Home</a></li>
      </ul>
      <ul>
        <li><a routerLink="/marcos-gomez">Marcos Gomez</a></li>
      </ul>
    </header>
  </div>