<div class="card" style="width: 18rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="card-header">
        <h2>Alfonso</h2>
    </div>
    <div class="card-body">
        <img src="../../../assets/pintura-lago-montana-montana-al-fondo_188544-9126.avif" alt="">
        <p>Descripción: En la imagen se aprecia un gran lago con un paisaje y una vegetación printorescos.</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-info">Ver más</button>
    </div>
  </div>