<div class="bd-example m-0 border-0">
    <div class="card" style="width: 18rem;">
      <img class="bd-placeholder-img card-img-top" src="../../../assets/pintura-lago-montana-montana-al-fondo_188544-9126.avif" alt="">
      <div class="card-body">
        <h5 class="card-title">Alfonso</h5>
        <p class="card-text">En esta imagen se aprecia un bonito y extenso lago con un pintoresco paisaje y abundante vegetación</p>
        <button class="btn btn-info">Ver más</button>
      </div>
    </div>
</div>